---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=city%20of%20denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=12389&query=city+of+denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=city+of+denver%2Cco>;
        rel="next"
      X-Total:
      - '123890'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":123890,"total_pages":12389,"results":[{"id":"pGMiIOWWEY8","created_at":"2020-02-10T18:55:20-05:00","updated_at":"2020-06-25T18:56:36-04:00","promoted_at":null,"width":5184,"height":3456,"color":"#18181B","description":"Worker
        apron in graffiti alley way on cell phone","alt_description":"man in black
        jacket standing beside graffiti wall during daytime","urls":{"raw":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1MzkwOH0","full":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1MzkwOH0","regular":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1MzkwOH0","small":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1MzkwOH0","thumb":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1MzkwOH0"},"links":{"self":"https://api.unsplash.com/photos/pGMiIOWWEY8","html":"https://unsplash.com/photos/pGMiIOWWEY8","download":"https://unsplash.com/photos/pGMiIOWWEY8/download","download_location":"https://api.unsplash.com/photos/pGMiIOWWEY8/download"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"d3AuLN3uzts","updated_at":"2020-06-26T02:35:18-04:00","username":"gms_design","name":"Gina
        Santangelo","first_name":"Gina","last_name":"Santangelo","twitter_username":"gina_514","portfolio_url":"http://www.gmsdesign.solutions","bio":"Photos
        taken on Sony A6000.","location":"Phoenix, Arizona","links":{"self":"https://api.unsplash.com/users/gms_design","html":"https://unsplash.com/@gms_design","photos":"https://api.unsplash.com/users/gms_design/photos","likes":"https://api.unsplash.com/users/gms_design/likes","portfolio":"https://api.unsplash.com/users/gms_design/portfolio","following":"https://api.unsplash.com/users/gms_design/following","followers":"https://api.unsplash.com/users/gms_design/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"gms_design_","total_collections":0,"total_likes":2,"total_photos":41,"accepted_tos":true},"tags":[{"type":"search","title":"road"},{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-07-14T01:07:46-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
